@import "tailwindcss";

:root {
  line-height: 1.5;
  font-weight: 400;
  /* color-scheme: light dark; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: none;
}

html, body {
  height: 100vh;
  overflow: hidden;
}

svg {
  fill: #000000;
}

.app-viewport {
  width: 402px;
  height: 756px;
  margin: 0 auto;
  overflow: hidden;
}
